# Node
node_modules/
dist/
build/
.vite/

# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Env & secrets
.env
.env.local
*.env
!.env.example

# Docker
*.log

# OS/Editor
.DS_Store
.vscode/
.idea/

# Misc
*.sqlite3
*.db
.pytest_cache/
backend/static/tickets/*.pdf
backend/static/qrcodes/*.png
backend/static/uploads/*
!backend/static/uploads/.gitkeep
